.sathiya h2{
  text-align: left;
  text-transform: uppercase;
  color:orangered;
  font-weight: bold;
  text-decoration: underline;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
 
  padding-left: 20px;
  
}
.content p{
  color: whitesmoke;
  padding-left: 25px;
  background-color:black;
  font-size:large;
  line-height: 1.8em;
  text-align: center;
  font-weight: bold;

}
.but button{
  padding-left: 20px;
  padding-top: 20px;
  margin-top: 30px;
}